@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)

    @Html.TextBoxFor(model => model.CourseName)
    @Html.LabelFor(model => model.CourseName)
    <br>
    @Html.DropDownList("DepartmentId", (SelectList)ViewBag.DepartmentId, "-No department-")
    @Html.Label("Add department")
    <br>
    <input type="submit" value="Add new course" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>