@{
  Layout = "_Layout";
}
@using Registrar.Models;
@model Registrar.Models.Department;

<h2>Add a course</h2>
<h4>Add a course to this department: @Html.DisplayFor(model => model.DepartmentName)</h4>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)
  
  @Html.LabelFor(model => @Model.Courses)
  @Html.TextBoxFor(model => @Model.Courses)

  @* @Html.Label("Select course")
  @Html.DropDownList("CourseId") *@

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to departments", "Index")</p>

@* @{
  Layout = "_Layout";
}
 *@


@* <h4>Add a new course</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)

    @Html.LabelFor(model => model.CourseName)
    @Html.TextBoxFor(model => model.CourseName)
    <input type="submit" value="Add new course" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p> *@